.imgGallery {
  background-color : #333333;
  border-radius    : 10px;
  height           : 500px;
  margin           : auto;
  padding-top      : 20px;
  width            : 700px;
}

.selectedImg {
  height     : 70%;
  margin     : auto;
  overflow   : hidden;
  position   : relative;
  text-align : center;
  width      : 95%;
}

.mainImg {
  border    : 3px solid grey;
  height    : 98%;
  max-width : 98%;
}

.thumbContainer {
  height     : 66px;
  margin     : auto;
  overflow   : hidden;
  text-align : center;
  width      : 95%;
}

.imgThumb {
  border   : 3px solid grey;
  height   : 60px;
  overflow : hidden;
  width    : 85px;
}

.popup {
  cursor:default;
  display:none;
  position:absolute;
  left:25%;
  top:5%;
  background-color:grey;
  height           : 540px;
  width            : 700px;
  z-index:50;
}
